// Colors
$bodyBackgroundColor: #031321
$anchorPrimary: #2196f3
$anchorSecondary: #255784

// Variable
$transition: 1s

// Styles
body
  align-items: center
  background: $bodyBackgroundColor
  display: flex
  font-family: Verdana, Arial, sans-serif
  justify-content: center
  margin: 0
  min-height: 100vh
  padding: 0

  a
    color: $anchorPrimary
    display: inline-block
    font-size: 24px
    letter-spacing: 4px
    padding: 15px 30px
    position: relative
    overflow: hidden
    text-decoration: none
    text-transform: uppercase
    transition: 0.2s

    &:hover
      background: $anchorPrimary
      box-shadow: 0 0 10px $anchorPrimary, 0 0 40px $anchorPrimary, 0 0 80px $anchorPrimary
      color: $anchorSecondary
      transition-delay: $transition

      span:nth-child(1)
        left: 100%
        transition: $transition

      span:nth-child(2)
        top: 100%
        transition: $transition
        transition-delay: $transition * 0.25

      span:nth-child(3)
        right: 100%
        transition: $transition
        transition-delay: $transition * 0.5

      span:nth-child(4)
        bottom: 100%
        transition: $transition
        transition-delay: $transition * 0.75

    span
      display: block
      position: absolute

      &:nth-child(1)
        background: linear-gradient(90deg, transparent, $anchorPrimary)
        height: 2px
        left: -100%
        top: 0
        width: 100%

      &:nth-child(2)
        background: linear-gradient(180deg, transparent, $anchorPrimary)
        height: 100%
        right: 0
        top: -100%
        width: 2px

      &:nth-child(3)
        background: linear-gradient(270deg, transparent, $anchorPrimary)
        bottom: 0
        height: 2px
        right: -100%
        width: 100%

      &:nth-child(4)
        background: linear-gradient(360deg, transparent, $anchorPrimary)
        height: 100%
        left: 0
        bottom: -100%
        width: 2px
